doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reset Password
    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .header {
        text-align: center;
        padding-bottom: 20px;
      }
      .content {
        line-height: 1.6;
      }
      .footer {
        text-align: center;
        padding-top: 20px;
        font-size: 0.8em;
      }
  body
    .container
      .header
        h1 Welcome to Our Service!
      .content
        p Hi #{user_name},
        p Forgot your password? Click on this link with your new password and passwordConfirm:
        a(href=`${resetURL}`) #{resetURL}
        p If you didn't forget your password, please ignore this email!
      //- .footer
      //-   p © 2024 Our Service, Inc.
